header{
    .hero{ 
        height: 300px;
    }

    nav{
        .fa-bars{
            display: none;
        }
        ul{
            background-color: $purple;
            display: block;
            li{
                display: inline-block;
                border-bottom: none;
                a{
                    color: $gray;
                }
            }
        }
    }
}
footer{
    .footer-wrapper{
        li{
            margin-right: 40px;
        }
    }
}