body{
    background-color: #FFF;
}

header{
    .hero{ 
        height: 300px;
    }

    nav{
        .fa-bars{
            display: none;
        }
        ul{
            background-color: $purple;
            display: block;
            text-align: center;
            li{
                display: inline-block;
                border-bottom: none;
                margin: 0em 3em;
                a{
                    color: $gray;
                    padding: 5px 10px;
                }
            }
            li:active, li:hover{
                background-color: $purple;
            }
        }
    }
}

main{
    background-color: $gray;
    width: 73%;
    margin: 0 auto;
    .flex-wrapper{
        .home-image-wrapper{
            .home-image{
                height: 460px;
            }
        }
    }
}

.menu-wrapper{
    .allergy-box{
        width: 30%;
    }
}

footer{
    .footer-wrapper{
        li{
            margin-right: 40px;
        }
    }
}