/* Extends */

%heading{
    color: $gray;  
    margin-top: 0;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

%table-div{
    background-color: $black;
    margin: 0px 30px 20px 30px;
    border: 1px solid $black;
    border-radius: 5px;
    padding: 20px;
}

%table{
    table-layout: fixed; 
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

%event-headings{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}

%event-contact-image{
    text-align: center;
    margin-bottom: 35px;
    img{
        height: 100%;
    }
}

body{
    font-family: $main_font;
    margin: 0px;
}

/* Header + navbar */

header{
    .hero{
        background-image: url("../images/header_image.jpg");
        background-size: cover;
        background-position: 0% 60%;
        width: 100%;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 300px;
            height: auto;
        }
    }
    nav{
        background-color: $purple;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
     
        .fa-bars{
            color: $gray;
            padding: 10px 0px 10px 10px;
            font-size: 1.3em;
        }
        ul{
            padding: 0px;
            background-color: rgb(247, 247, 247);
            margin: 0;
            display: none;
           
            li{
                list-style-type: none;
                padding: 10px 0px;
                border-bottom: 1px solid $black;
                 
               a{
                 color: $black;
                 text-decoration: none;
                 padding-left: 10px;
                 text-transform: uppercase;
                 display: block;
               }

               a:active, a:hover{
                   color: $green;
                   //font-weight: 700;
               }
              
            }
            li:active, li:hover{
                background-color: $gray;
            }
        }
    }
}

/***** Home page *****/

.intro-text{
    margin: 20px 30px;
    text-align: center;
}

.open-hours{
    @extend %table-div;
    h1{
        @extend %heading;
    }
    p{
        color: $gray;
        text-align: center;
    }
    table{
        @extend %table;
        td:last-child{
           text-align: right;
        }
        td{
            color: $gray;
            width: 33%;
        }
    }
}

.home-image{
    display: none;
}

/**** Menu page ****/

.menu-wrapper{
    @extend %table-div;
    margin-top: 15px;
    .meal-wrap, .small-meal-wrap:not(:last-child) {
        margin-top: 20px;
        border-bottom: 1px dashed $gray;
        padding-bottom: 10px;
    }
    .small-meal-wrap:last-child{
        margin-top: 20px;
    }
    h1{
        color: $gray;
        text-align: center;
    }
    table{
        @extend %table;
         td{
             color: $gray;
             padding-bottom: .5em;
         }
         td:not(.description) {
           font-weight: 700;
         }
         .description{
             text-align: left; 
             font-style: italic;
             width: 170%;
             display: block;
         }
         th{
             color: $gray;
             text-align: left;
             text-decoration: underline;
             text-transform: uppercase;
             padding-bottom: 10px;
         }
         .align-right{
             text-align: right;
             display: block;
         }
    }
    .menu-flex-wrapper{
        margin-bottom: 3em;
    }
    .allergy-box{
        background-color: $gray;
        border-radius: 4px;
        padding: 20px;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        p{
            font-style: italic;
        }
    }

}

/*** Events and catering page ***/

.event-flex-wrapper{
    .event-wrapper{
        padding: 20px;
        p{
            font-size: 0.9em;
            margin-top: 5px;
        }
        h1, h2{
            @extend %event-headings;
        }
        .green-link{
            color: $green;
            font-weight: 600;
        }
    }
    .event-image{
        @extend %event-contact-image;
        height: 400px;
    }
}

/**** Contact page ****/

.contact-flex-wrapper{
    .contact-wrapper{
        .contact-info{
            padding: 30px;
            h1{
                @extend %event-headings;
            }
            h2{
                @extend %event-headings;
                font-weight: 400;
            }
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style-type: none;
                }
            }
        }
    }
    .contact-image{
        @extend %event-contact-image;
        height: 450px;
    }
}

/**** Footer *****/

footer{
    background-color: $purple;
    padding: 20px;
    h2{
        @extend %heading;
        margin: 0;
    }
    .footer-wrapper{
        display: flex;
        justify-content: space-around;
        .fa{
            color: $gray;
            font-size: 3em;
            float: left;
            margin-top: 10px;
        }
        .fa-facebook-square{
            margin-right: 20px;
        }
        .fa-instagram:after {
            content: '';
            display: block;
            clear: both;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style-type: none;
                color: $gray;
            }
        }
        .info{
            ul{
                li:last-child{
                    margin-top: 10px;
                }
            }
        }
        .contact{
            ul{
                li:first-child{
                    margin-top: 15px;
                }
            }
        }
    }
}