.flex-wrapper{
    display: flex;
    .home-image-wrapper{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .home-image{
            display: block;
            height: 400px;
            overflow: hidden;
            img{
                height: 100%;
            }
        }
    }
    .intro-wrapper{
        flex-basis: 50%;
        
        p{
            margin-bottom: 26px;
        }
    } 

}

.menu-wrapper{
    .meal-wrap{
        border-bottom: none;
    }
    .menu-flex-wrapper{
        display: flex;
        justify-content: space-around;
        .meal-courses{
            flex-basis: 40%;
        }
    }
    .allergy-box{
        width: 40%;
    }
}

.event-flex-wrapper{
    display: flex;
    justify-content: space-around;
    .event-wrapper{
        flex-basis: 50%;
    }
    .event-image{
        margin-top: 35px;
    }
}

.contact-flex-wrapper{
    display: flex;
    justify-content: space-around;
    .contact-wrapper{
        flex-basis: 50%;
    }
    .contact-image{
        margin-top: 35px;
    }
}

footer{
    .footer-wrapper{
       display: block;
       text-align: center;
        h2{
           text-align: left;
           margin-bottom: -7px;
       }
        li{
            display: inline-block;
            margin-right: 20px;
        }
        .info{
            display: inline-block;
        }
        .contact{
            display: inline-block;
            .fa{
                margin: 0px 0px -5px 0px; 
            }
            ul{
                li{
                    margin-top: -15px;
                }
                li:first-child{
                    margin-top: 0;
                }
            }
        }
    }
}